body {
    font-family: Arial;
    background: linear-gradient(120deg, #141e30, #243b55);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    width: 500px;
    box-shadow: 0 0 20px black;
}

textarea {
    width: 100%;
    height: 120px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.btn {
    background: #22c55e;
    border: none;
    padding: 10px;
    width: 100%;
    color: white;
    margin-top: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.upload {
    background: #3b82f6;
}

.result {
    margin-top: 20px;
    background: #0f172a;
    padding: 15px;
    border-radius: 10px;
}

.meter {
    background: #333;
    height: 22px;
    border-radius: 20px;
    overflow: hidden;
}

.risk-bar {
    display: block;
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    text-align: center;
    transition: 1s;
}