<!DOCTYPE html>
<html>

<head>
    <title>AI Phishing Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>🛡 AI Phishing Detection System</h1>

        <form action="/predict" method="post">
            <textarea name="email" placeholder="Paste Email Content"></textarea>
            <button class="btn">Analyze Text</button>
        </form>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button class="btn upload">Upload File</button>
        </form>

        {% if prediction %}
        <div class="result">

            <h2>{{prediction}}</h2>

            <p>Phishing Probability: {{risk}}%</p>
            <p>Safe Probability: {{safe}}%</p>

            <div class="meter">
                <span class="risk-bar" data-risk="{{risk}}">
{{risk}}%
</span>
            </div>

            {% if reasons %}
            <h3>⚠ Detected Keywords:</h3>
            <ul>
                {% for r in reasons %}
                <li>{{r}}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
        {% endif %}

        <br>
        <a href="/dashboard">Dashboard</a> |
        <a href="/logout">Logout</a>

    </div>

    <script>
        const bar = document.querySelector(".risk-bar");
        if (bar) {
            let v = bar.getAttribute("data-risk");
            bar.style.width = v + "%";
        }
    </script>

</body>

</html>