<!DOCTYPE html>
<html>

<head>
    <title>AI Phishing Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>🛡️ AI Phishing Detection System</h1>

        <!-- TEXT CHECK -->
        <div class="card">
            <h2>Check Email Text</h2>

            <form action="/predict" method="POST">
                <textarea name="email" placeholder="Paste suspicious email here..." required></textarea>
                <br><br>
                <button type="submit">🔍 Detect Text</button>
            </form>
        </div>

        <!-- FILE CHECK -->
        <div class="card">
            <h2>Upload File (PDF / TXT)</h2>

            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept=".pdf,.txt" required>
                <br><br>
                <button type="submit">📂 Scan File</button>
            </form>
        </div>

        <!-- RESULT -->
        {% if prediction %}
        <div class="result">

            <h2>{{ prediction }}</h2>

            <p>Phishing Probability: {{ risk }}%</p>
            <p>Safe Probability: {{ safe }}%</p>

            <!-- AI Risk Meter -->
            <div class="meter">
                <span class="risk-bar" data-risk="{{ risk }}">
        {{ risk }}%
    </span>
            </div>

        </div>
        {% endif %}

        <div class="nav">
            <a href="/dashboard">📊 Dashboard</a> |
            <a href="/logout">🚪 Logout</a>
        </div>

    </div>

</body>

</html>